.App {
  font-family: sans-serif;
  text-align: center;
}

.progress-bar {
  background-color: grey;
  width: 400px;
  height: 10px;
  margin-top: 8px;
}

.inner {
  height: 10px;
  width: 0;
  background-color: blue;
  transition-property: width;
  transition-duration: 5s;
}
